In [1]:
##### import pandas as pd
import persist_ext as PR
from persist_ext import plot
import altair as alt
from vega_datasets import data
import pandas as pd

PR.dev.DEV = True

In [2]:
cars = data.cars()
cars.head()

,Name,Miles_per_Gallon,Cylinders,Displacement,Horsepower,Weight_in_lbs,Acceleration,Year,Origin
0,chevrolet chevelle malibu,18.0,8,307.0,130.0,3504,12.0,1970-01-01,USA
1,buick skylark 320,15.0,8,350.0,165.0,3693,11.5,1970-01-01,USA
2,plymouth satellite,18.0,8,318.0,150.0,3436,11.0,1970-01-01,USA
3,amc rebel sst,16.0,8,304.0,150.0,3433,12.0,1970-01-01,USA
4,ford torino,17.0,8,302.0,140.0,3449,10.5,1970-01-01,USA

In [3]:
import altair as alt
from vega_datasets import data

source = data.cars()
brush = alt.selection_interval(name="selector")

chart = alt.Chart(source).mark_bar().encode(
    y='count():Q',
    x='Miles_per_Gallon:Q',
    color=alt.condition(brush, 'Cylinders:O', alt.value('grey')),
).add_params(brush)

In [4]:
# a = PR.PersistChart(chart, data=source)
a = PR.PersistTable(data=source)
a

PersistWidget(data_values=[{'__id_column': '1', 'Name': 'chevrolet chevelle malibu', 'Miles_per_Gallon': 18.0,…

In [5]:
# PR.plot.barchart(source, x="utcyear(Year):O", y="count():Q")

In [6]:
A.head()

NameError: name 'A' is not defined

In [ ]:
persist_df_1.sort_values("Miles_per_Gallon", ascending=True)

In [ ]:
params = getattr(chart, "params", [])
pv = filter(lambda x: hasattr(x, "views"), params)
view_names = map(lambda x: x.views, pv)
v = sum(view_names, [])
v